a:link, a:visited {
	color: Blue;
	text-decoration: none;
}

a:hover, a:active {
	/* color: Red; */
	/* text-decoration: underline; */
}

h2 {
  text-align: center;
}

body {
  text-align: center;
}

footer {
  margin-top: 20px;
}

table {
	margin: 0px auto;
}

th { 
	font-weight: bold;
	background-color: #afb3ea; 
}

.dataRow:nth-child(even) {
	background: #FFF
}

.dataRow:nth-child(odd) {
	background: #EEE
}

.highlightedRacer {
	background: cyan;
}